<!DOCTYPE html>
<html lang="en">
<head>

  <!--Bootsrap 4 CDN-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!--Fontawesome CDN-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <!--Custom styles-->
  <link rel="stylesheet" type="text/css" href="styles.css">
  <meta charset="UTF-8" />
  <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Register</title>
  <style>
    html,body{
      background-image: url('https://wallpaperaccess.com/full/3692584.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      height: 100%;
      color: white;
      font-family: 'Numans', sans-serif;
      position: center;
    }
    form{
      background-color: brown;
      width: 15%;
      border-radius: 10px;
    }
  </style>
</head>
<body>

<h1>Registruj novog kurira</h1>

<form action="/restaurants/dodaj/dostavljaca" method="POST">
  <div>
<br>
    <input type="text" id="name" name="name" placeholder="Ime" required />
  </div>
  <div>
    <input type="number" id="telephone" name="telephone" placeholder="Unesite Tel " required />
  </div>
  <div>
    <input
            type="email"
            id="email"
            name="email"
            placeholder="Email"
            required
    />
  </div>
  <div>
    <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
            required
    />
  </div>

  <div>
    <input type="submit" value="Send" />
  </div>
</form>
</body>
</html>
