<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Prikazi lokaciju kupca</title>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" rel="stylesheet" />
  <style>
    body { margin: 0; padding: 0; }
    #map { position: absolute; top: 0; bottom: 0; width: 100%; }
  </style>
</head>
<body>
<div id="map"></div>

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoidmU5OTkiLCJhIjoiY2tqN25xMmVrMHA1ejJwcnV5ZGg2d29wNSJ9.T3OP28RU4ayDF4v0Qau44Q';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [<%=korisnik[0].sirina%>, <%=korisnik[0].visina%>],
    zoom: 18
  });

  var marker = new mapboxgl.Marker()
          .setLngLat( [<%=korisnik[0].sirina%>, <%=korisnik[0].visina%>])
          .addTo(map);
</script>

</body>
</html>
